<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="register.css">
   
</head>
<body>

    <body>
        <div id="login-container">
            <div id="image-container">
                <img id="logo" src="assets/logo.jpg" alt="logo" class="center1" />
            </div>
            
            <p>Login</p>
            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" required>
    
                <button type="button" onclick="login()">Login</button>
            </form>
    
        </div>

    </body>

</body>
</html>
