.body{
background-color:#ffffff;
height: 100%;
width: 100%;
}

.menu ul{
	display: inline-flex;
	margin: %;
	margin-top: 1%;
}

.menu ul li{
	list-style: none;
	margin: 0 20px;
	cursor: pointer;
	width: 100px;
}



.unactive{
	text-decoration: none;
	position: absolute;
	color: white;
	background-color: #1E1E1E;
	border: 2px solid #1a782d;
	padding: 10px;
	transition-duration: 0.4s;
	height: 15px;
	text-align: center;
	width: 100px;
}

.unactive:hover{
	border: 5px solid #25a83f;
}

.ctButton{
	top: 77px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: white;
	transition-duration: 0.4s;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#1E1E1E,#1E1E1E), radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.ctButton span{
	display: block;
	padding: 8px 22px;
}

.ctButton:hover{
	border: 5px solid #25a83f;
}

.settingsIcon{
	top: 77px;
	right: 80px;
}

.menuButton{
	text-decoration: none;
	color: white;
	background-color: #1E1E1E;
	border: 2px solid #1a782d;
	padding: 10px;
	transition-duration: 0.4s;
	height: 15px;
	text-align: center;
	width: 100px;
}



.group633032{
width:1616px;
height:66px;
position:absolute;
top:0px;
left:0px;
}

.shapewithtext{
background-color:#c4c4c4;
height:66px;
width:1616px;
}

.shapewithtext2{
background-color:#f8f8f8;
height:24px;
width:1456px;
left:122px;
top:21px;
position:absolute;
}

.shapewithtext3{
background-color:#f8f8f8;
height:16px;
width:16px;
top:25px;
left:16px;
position:absolute;
}

.shapewithtext4{
background-color:#f8f8f8;
height:16px;
width:16px;
top:25px;
left:42px;
position:absolute;
}

.shapewithtext5{
background-color:#f8f8f8;
height:16px;
width:16px;
top:25px;
left:69px;
position:absolute;
}

.yourseries{
background-color:#0d99ff;
height:697px;
width:1616px;
position:absolute;
top:66px;
left:-0.01px;
}

.shapewithtext6{
background-color:#ffffff;
height:79px;
width:1616px;
position:absolute;
top:66px;
left:0px;
}
.contactus{
background-color:#e6e6e6;
height:195px;
width:1616px;
position:absolute;
top:2365px;
left:0px;
}

.group16{
width:420px;
height:111.96200561523438px;
left:125px;
top:1911px;
position:absolute;
}

.shapewithtext7{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1911px;
left:125px;
position:absolute;
}

.shapewithtext8{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1956.6px;
left:125px;
position:absolute;
}

.shapewithtext9{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:2002.21px;
left:125px;
position:absolute;
}

.group633039{
width:419px;
height:308.0823974609375px;
top:1542px;
left:599px;
position:absolute;
}

.group15{
width:419px;
height:115.08238983154297px;
top:1735px;
left:599px;
position:absolute;
}

.shapewithtext10{
background-color:#c4c4c4;
height:21.32990074157715px;
width:419px;
top:1735px;
left:599px;
position:absolute;
}
.shapewithtext11
{
background-color:#c4c4c4;
height:21.32990074157715px;
width:419px;
top:1781.87px;
left:598.99px;
position:absolute;
}
.shapewithtext12
{
background-color:#c4c4c4;
height:21.32990074157715px;
width:419px;
top:1828.75px;
left:598.99px;
position:absolute;
}
.group18
{
width:419px;
height:115.08238983154297px;
top:1542px;
left:599px;
position:absolute;
}
.shapewithtext13
{
background-color:#c4c4c4;
height:21.32990074157715px;
width:419px;
top:1542px;
left:599px;
position:absolute;
}
.shapewithtext14
{
background-color:#c4c4c4;
height:21.32990074157715px;
width:419px;
top:1588.87px;
left:598.99px;
position:absolute;
}
.shapewithtext15
{
background-color:#c4c4c4;
height:21.32990074157715px;
width:419px;
top:1635.75px;
left:598.99px;
position:absolute;
}
.socialseries
{
color:#333333;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
top:2138.27px;
width:171px;
height:32px;
position:absolute;
letter-spacing:-1.899999976158142px;
line-height:32px;
border-style:hidden;
outline:none;
}
.yourprofile
{
color:#333333;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:209px;
top:2137.27px;
width:167px;
height:32px;
position:absolute;
letter-spacing:-1.899999976158142px;
line-height:32px;
border-style:hidden;
outline:none;
}
.component13
{
background-color:#ffffff;
height:48px;
width:48px;
padding:0px;
top:82px;
left:1554px;
position:absolute;
}
.rectangle3
{
background-color:#ffffff;
height:48px;
width:48px;
}
.group3
{
width:34px;
height:28px;
left:7px;
top:10px;
position:absolute;
}
.vector3
{
width:34px;
width:34px;
left:7px;
top:10px;
width:34px;
position:absolute;
}
.vector4
{
width:34px;
width:34px;
left:7px;
top:24px;
width:34px;
position:absolute;
}
.vector5
{
width:34px;
width:34px;
left:7px;
top:38px;
width:34px;
position:absolute;
}
.exploreseries
{
background-color:#ffffff;
height:79px;
width:262px;
top:624px;
left:677px;
position:absolute;
}
.sports
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
top:2818.45px;
width:156px;
height:60px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.arts
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
top:2818.45px;
width:103px;
height:60px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.colleagues
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
left:209px;
top:2818.45px;
width:258px;
height:60px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.group162
{
width:420px;
height:111.96200561523438px;
top:1735px;
left:122px;
position:absolute;
}
.shapewithtext16
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1735px;
left:122px;
position:absolute;
}
.shapewithtext17
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1780.6px;
left:122px;
position:absolute;
}
.shapewithtext18
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1826.21px;
left:122px;
position:absolute;
}
.group633040
{
width:420px;
height:111.96200561523438px;
top:1542px;
left:125px;
position:absolute;
}
.shapewithtext19
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1542px;
left:125px;
position:absolute;
}
.shapewithtext20
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1587.6px;
left:125px;
position:absolute;
}
.shapewithtext21
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1633.21px;
left:125px;
position:absolute;
}
.shapewithtext22
{
background-color:#e4ccff;
height:150px;
width:420px;
top:1161px;
left:122px;
position:absolute;
}
.cat
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
top:3235.59px;
width:63px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext23
{
background-color:#0d99ff;
height:93.75px;
width:90px;
top:1187.25px;
left:152px;
position:absolute;
}
.points
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
top:3284.34px;
width:198px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext24
{
background-color:#e4ccff;
height:148.92857360839844px;
width:417px;
top:1346px;
left:125px;
position:absolute;
}
.marivic
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:31.999998092651367px;
font-family:Inter;
top:3420.4px;
width:131px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext25
{
background-color:#0d99ff;
height:93.08036041259766px;
width:89.35713958740234px;
top:1372.06px;
left:154.78px;
position:absolute;
}
.points2
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:31.999998092651367px;
font-family:Inter;
top:3468.8px;
width:198px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext26
{
background-color:#e4ccff;
height:150px;
width:420px;
top:1169px;
left:598px;
position:absolute;
}
.andy
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
top:3243.59px;
width:89px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext27
{
background-color:#0d99ff;
height:93.75px;
width:90px;
top:1195.25px;
left:628px;
position:absolute;
}
.points3
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
top:3292.34px;
width:198px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext28
{
background-color:#e4ccff;
height:150px;
width:420px;
top:1346px;
left:598px;
position:absolute;
}
.emma
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
top:3420.59px;
width:98px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext29
{
background-color:#0d99ff;
height:93.75px;
width:90px;
top:1372.25px;
left:628px;
position:absolute;
}
.points4
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
top:3469.34px;
width:198px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.group633043
{
width:420px;
height:111.96200561523438px;
top:1911px;
left:599px;
position:absolute;
}
.shapewithtext30
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1911px;
left:599px;
position:absolute;
}
.shapewithtext31
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1956.6px;
left:599px;
position:absolute;
}
.shapewithtext32
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:2002.21px;
left:599px;
position:absolute;
}
.group633042
{
width:420px;
height:111.96200561523438px;
top:1542px;
left:1075px;
position:absolute;
}
.shapewithtext33
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1542px;
left:1075px;
position:absolute;
}
.shapewithtext34
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1587.6px;
left:1075px;
position:absolute;
}
.shapewithtext35
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1633.21px;
left:1075px;
position:absolute;
}
.group163
{
width:420px;
height:111.96200561523438px;
top:1738px;
left:1075px;
position:absolute;
}
.shapewithtext36
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1738px;
left:1075px;
position:absolute;
}
.shapewithtext37
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1783.6px;
left:1075px;
position:absolute;
}
.shapewithtext38
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1829.21px;
left:1075px;
position:absolute;
}
.group633044
{
width:420px;
height:111.96200561523438px;
top:1911px;
left:1067px;
position:absolute;
}
.shapewithtext39
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1911px;
left:1067px;
position:absolute;
}
.shapewithtext40
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:1956.6px;
left:1067px;
position:absolute;
}
.shapewithtext41
{
background-color:#c4c4c4;
height:20.751583099365234px;
width:420px;
top:2002.21px;
left:1067px;
position:absolute;
}
.image3
{
background-color:#ffffff;
height:244px;
width:435.71429443359375px;
filter:drop-shadow(0px 0px 0px rgba(0,0,0,0.20000000298023224));
border-radius:4px;
border:8px solid #ffffff;
top:2905px;
position:absolute;
left:0px;
}
.image4
{
background-color:#ffffff;
height:244px;
width:366.6666564941406px;
filter:drop-shadow(0px 0px 0px rgba(0,0,0,0.20000000298023224));
border-radius:4px;
border:8px solid #ffffff;
left:158px;
top:2905px;
position:absolute;
}
.shapewithtext42
{
background-color:#e4ccff;
height:150px;
width:420px;
top:1169px;
left:1075px;
position:absolute;
}
.andy2
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:278px;
top:3243.59px;
width:89px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext43
{
background-color:#0d99ff;
height:93.75px;
width:90px;
top:1195.25px;
left:1105px;
position:absolute;
}
.points5
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:278px;
top:3292.34px;
width:198px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext44
{
background-color:#e4ccff;
height:150px;
width:420px;
top:1346px;
left:1075px;
position:absolute;
}
.emma2
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:278px;
top:3420.59px;
width:98px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}
.shapewithtext45
{
background-color:#0d99ff;
height:93.75px;
width:90px;
top:1372.25px;
left:1105px;
position:absolute;
}

.points6
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:278px;
top:3469.34px;
width:198px;
height:48px;
position:absolute;
letter-spacing:-2.200000047683716px;
line-height:150px;
border-style:hidden;
outline:none;
}

.image5
{
background-color:#ffffff;
height:244px;
width:387.9325866699219px;
filter:drop-shadow(0px 0px 0px rgba(0,0,0,0.20000000298023224));
border-radius:4px;
border:8px solid #ffffff;
top:2905px;
position:absolute;
left:0px;
}

.image6
{
background-color:#ffffff;
height:80px;
width:333.3333435058594px;
filter:drop-shadow(0px 0px 0px rgba(0,0,0,0.20000000298023224));
border-radius:4px;
border:8px solid #ffffff;
top:2224px;
position:absolute;
left:0px;
}