<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userSeries</title>
    <link rel="stylesheet" href="styling.css">
</head>
<body>
<div class="header">
    <button class="button">OUR MISSION</button>
    <button class="button">SOCIAL SERIES</button>
</div>

<div class="banner">
    <div class="bannerTitle">YOUR SERIES</div>
    <button class="exploreBtn">Explore Series</button>
    <img src="assets/logo.jpg" alt="Logo" class="logo">
</div>

<div class="pointsBanner">
    <div class="profilePicture">
        <img src="assets/profilePicture.jpg" alt="Profile Picture">
    </div>
    <div class="scoreSummary">
        <div class="totalPoints">
            <p><strong>Cat</strong><p>
            <p><strong>TOTAL POINTS: 2300</strong><p>
        </div>
        <div class="targetPoints">
            <p>700 POINTS AWAY FROM SILVER BADGE<p>
        </div>
        <div class="individualPoints">
            <p>ARTS: 1000 POINTS<p>
            <p>SPORTS: 800 POINTS<p>
            <p>COLLEAGUES: 500 POINTS<p>
        </div>
    </div>
</div>
<section id="leaderboard">
    <h1>YOUR LEADER BOARD</h1>

    <div id="arts-leaderboard">
        <h2 class="pageLink">ARTS</h2>
        <!-- List items for the arts leaderboard -->
        <ol>
            <li><strong>CAT</strong> 1000 POINTS</li>
            <li>MARIVIC 996 POINTS</li>
            <li>HELEN 990 POINTS</li>
            <li>FRAN 889 POINTS</li>
            <li>MARIANA 706 POINTS</li>
            <li>DEMI 604 POINTS</li>
            <li>LUKE 302 POINTS</li>
            <!-- Other list items -->
        </ol>
    </div>

    <div id="sports-leaderboard">
        <h2><a href="sportSeriesPage.html" class="pageLink"><strong>SPORTS</strong></a></h2>
        <!-- List items for the sports leaderboard -->
        <ol>
            <li><strong>ANDY</strong> 1000 POINTS</li>
            <li>EMMA 1000 POINTS</li>
            <li>BECKY 987 POINTS</li>
            <li>AMY 753 POINTS</li>
            <li>LIZ 744 POINTS</li>
            <li>NICOLA 564 POINTS</li>
            <li>CAITLIN 401 POINTS</li>
            <!-- Other list items -->
        </ol>
    </div>

    <div id="colleagues-leaderboard">
        <h2 class="pageLink">COLLEAGUES</h2>
        <!-- List items for the colleagues leaderboard -->
        <ol>
            <li><strong>ANDY</strong> 1000 POINTS</li>
            <li>GILL 857 POINTS</li>
            <li>LYNDA 771 POINTS</li>
            <li>LIZ 724 POINTS</li>
            <li>NICOLA 664 POINTS</li>
            <li>LYNN 523 POINTS</li>
            <!-- Other list items -->
        </ol>
    </div>
</section>
</body>
</html>


